.git

node_modules
bower_components

.idea
.DS_Store
*.sublime*

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.lerna-debug.log*
.pnpm-debug.log*
.cache
*.tgz

coverage
.nyc_output
out
*.tsbuildinfo

docker
Dockerfile
docker-compose.yml


*.env